.page-header .colaborador-card {
  flex-flow: column; display: flex;
  align-items: end;
  padding: 20px 0px;
}

.page-header .colaborador-card .header-headsot img {
  min-width: 200px;
  max-width: 300px;
  min-height: 200px;
  max-height: 300px;
}

.page-header .colaborador-card .colaborador-bio {
  padding: 10px;
  text-wrap: balance;
}

.page-header .colaborador-card .colaborador-web {
  padding: 10px;
}

.page-header .colaborador-card a {
  text-decoration: underline;
}


@media(min-width: 720px) {
  .page-header .colaborador-card {
    flex-flow: row-reverse nowrap; display: flex;
  }
}
