.page-header .colaborador-header h1 {
  text-wrap: wrap;
}

.page-header .colaborador-card {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding: 20px 0px;
}

.page-header .colaborador-card .colaborador-details {
  min-width: 320px;
  max-width: 100%;
  overflow: hidden;
}

.page-header .colaborador-card .header-headsot img {
  min-width: 200px;
  max-width: 300px;
  min-height: 200px;
  max-height: 300px;
  border-radius: 150px;
  background-color: #252525;
  margin: 0px auto;
}

.page-header .colaborador-card .colaborador-bio {
  padding: 10px 10px 0px 10px;
  text-wrap: balance;
}

.page-header .colaborador-card .colaborador-bio p {
  margin-bottom: 10px;
}

.page-header .colaborador-card .colaborador-web {
  padding: 0px 10px 10px 10px;
}

.page-header .colaborador-card a {
  text-decoration: underline;
}

.page-header .colaborador-header .colaborador-card .colaborador-web {
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media(min-width: 720px) {
  .page-header .colaborador-card {
    flex-flow: row-reverse nowrap; display: flex;
    justify-content: space-between;
  }

  .page-header .colaborador-card .header-headshot img{
    margin: 0px auto 0px auto;
  }

}
