{{- with ( .GetTerms "programas" ) }}
    <ul class="post-tags">
    {{- range ( . ) }}
      <li><a href="{{ .Permalink }}">📺 {{ .LinkTitle }}</a></li>
    {{- end }}
    </ul>&nbsp;&nbsp;&nbsp;
{{- end }}

{{- with ( .GetTerms "etiquetas" ) }}
    <ul class="post-tags">
    {{- range ( . ) }}
      <li><a href="{{ .Permalink }}">🏷️ {{ .LinkTitle }}</a></li>
    {{- end }}
    </ul>&nbsp;&nbsp;&nbsp;
{{- end }}

{{- with ( .GetTerms "colaboradores" ) }}
    <ul class="post-tags">
    {{- range ( . ) }}
      {{- $slug := replace .Path "/colaboradores/" "" }}
      {{- $colaborador := (index .Site.Data.colaboradores $slug) }}
      {{- $title := (default .LinkTitle $colaborador.name) }}
      <li><a href="{{ .Permalink }}" style="view-transition-name: {{ $slug }}-title;">👤 {{ $title }}</a></li>
    {{- end }}
    </ul>
{{- end }}
