{{- with ( .GetTerms "programas" ) }}
<ul class="post-tags tags-programas">
  {{- range ( . ) }}
  <li><a href="{{ .Permalink }}">📺 {{ .LinkTitle }}</a></li>
  {{- end }}
</ul>
{{- end }}
{{- with ( .GetTerms "etiquetas" ) }}
<ul class="post-tags tags-tags">
  {{- range ( . ) }}
  <li><a href="{{ .Permalink }}"># {{ .LinkTitle | lower }}</a></li>
  {{- end }}
</ul>
{{- end }}
{{- with ( .GetTerms "colaboradores" ) }}
<ul class="post-tags tags-colaboradores">
  {{- range ( . ) }} {{- $slug := replace .Path "/colaboradores/" "" }} {{-
  $colaborador := (index .Site.Data.colaboradores $slug) }} {{- $title :=
  (default .LinkTitle $colaborador.name) }}
  <li>
    <a href="{{ .Permalink }}">
      {{- with resources.Get (printf "/images/colaboradores/%s.webp" $slug) }}
      <img
        src="{{.Permalink}}"
        style="view-transition-name: {{$slug}}-headshot;"
      />
      {{- else }} 👤 {{- end }}
      <span style="view-transition-name: {{ $slug }}-title;">{{ $title }}</span>
    </a>
  </li>
  {{- end }}
</ul>
{{- end }}
