{{- define "main" }}

{{- if .Title }}
<header class="page-header colaboradores-terms-header">
    <h1>👤 Han participado en OnTheNubs…</h1>
    {{- if .Description }}
    <div class="post-description">
        {{ .Description }}
    </div>
    {{- end }}
</header>
{{- end }}

    {{- $type := .Type }}
    {{- $all_colaboradores := .Data.Terms.Alphabetical }}
    {{/* GROUP COLABORADORES BY ROLE */}}
    {{- $colaboradores_groups := slice }}
    {{- $fundadores := slice }}
    {{- $equipo := slice }}
    {{- $alumni := slice }}
    {{- $colaboradores := slice }}
    {{- range $all_colaboradores }}
    {{-   $taxonomy := . }}
    {{-   $name := $taxonomy.Name }}
    {{-   $slug := $name | urlize }}
    {{-   $colaborador := (index $.Site.Data.colaboradores $slug) }}
    {{-   $page := site.GetPage (printf "/%s/%s" $type $name) }}
    {{-   with (eq $colaborador.role "Fundadores") }}
    {{-     $fundadores = append (dict "slug" $slug "data" $colaborador "page" $page "taxonomy" $taxonomy ) $fundadores }}
    {{-   end }}
    {{-   with (eq $colaborador.role "Equipo") }}
    {{-     $equipo = append (dict "slug" $slug "data" $colaborador "page" $page "taxonomy" $taxonomy ) $equipo }}
    {{-   end }}
    {{-   with (eq $colaborador.role "Alumni") }}
    {{-     $alumni = append (dict "slug" $slug  "data" $colaborador "page" $page "taxonomy" $taxonomy ) $alumni }}
    {{-   end }}
    {{-   with (eq (default "Colaboradores" $colaborador.role) "Colaboradores") }}
    {{-     $colaboradores = append (dict  "slug" $slug "data" $colaborador "page" $page "taxonomy" $taxonomy ) $colaboradores }}
    {{-   end }}
    {{- end }}
    {{- if (ne 0 ( $fundadores | len )) }}
    {{-   $colaboradores_groups = append (dict "role" "Fundadores" "label" "Este proyecto lo empezaron con mucha ilusión:" "members" $fundadores) $colaboradores_groups }}
    {{- end }}
    {{- if (ne 0 ( $equipo | len )) }}
    {{-   $colaboradores_groups = append (dict "role" "Equipo" "label" "El equipo actual lo forman:" "members" $equipo) $colaboradores_groups }}
    {{- end }}
    {{- if (ne 0 ( $alumni | len )) }}
    {{-   $colaboradores_groups = append (dict "role" "Alumni" "label" "También fueron parte del equipo:" "members" $alumni) $colaboradores_groups }}
    {{- end }}
    {{- if (ne 0 ( $colaboradores | len )) }}
    {{-   $colaboradores_groups = append (dict "role" "Colaboradores" "label" "Con apariciones estelares de:" "members" $colaboradores) $colaboradores_groups }}
    {{- end }}
    {{/* END - GROUP COLABORADORES BY ROLE */}}
    {{/* DISPLAY COLABORADORES */}}
    {{- range $colaboradores_groups }}
<h2 class="colaboradores-list-section-header">{{.label}}</h2>
<div class="colaboradores-list">
    {{-   range .members }}
    {{-     $colaborador := .data }}
    {{-     $page := .page }}
    {{-     $slug := .slug }}
    {{-     $count := .taxonomy.Count }}
    <div class="colaborador-card">
        <a href="{{ $page.Permalink }}">
    {{-     with $colaborador.headshot }}
    {{-       with resources.Get . }}
          <div class="colaborador-headshot">
            <img src="{{.Permalink}}" style="view-transition-name: {{$slug}}-headshot;" />
          </div>
    {{-       end }}
    {{-     else }}
          <div class="colaborador-headshot-empty"></div>
    {{-     end }}
          <div class="colaborador-title" style="view-transition-name: {{$slug}}-title;">
            {{ default $page.Name $colaborador.name }}
            <small>
            {{ with $colaborador.alias }}<br/>{{ . }}{{ end }}
            {{ with $colaborador.pronouns }} ({{ . }}){{ end }}
            <br />
            📺 {{ $count }}
            </small>
          </div>
        </a>
    </div>
    {{-   end }}
</div>
    {{- end }}

{{- end }}{{/* end main */ -}}
